@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');


.profile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.904);
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 30px 80px ;
        font-size: 70px;
        font-weight: 700;
        border-radius: 150px;
        font-family: 'Mulish';
        background: aqua;
    }
}